input {
    udp {
        port => 12300
        codec => json
        type => "logs"
        add_field => ["env", "DEV"]
    }
}
filter {
  useragent {
    source => "[properties][s-useragent]"
    target => "browserInfo"
    add_tag => [ "UA" ] 
    add_field => ["uai", "true"]
  }
}
output {
    elasticsearch {
        hosts => ["192.168.1.64:9200"]
	index => "%{[properties][type]}-%{+YYYY.MM.dd}"
        document_type => "%{[properties][type]}"
        workers => 1
    }
}